body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --primary-font: "Roboto", sans-serif;
}

/* Top Line */

/* Web */
.logo .logo-name {
  color: #2e2f42;
}

/* Menu Nav */

.menu-navigation {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

.menu-nav .list-studio:hover,
.menu-nav .list-studio:focus {
  color: #404bbf;
}

.menu-nav .list-portfolio:hover,
.menu-nav .list-portfolio:focus {
  color: #404bbf;
}

.menu-nav .list-Contacts:hover,
.menu-nav .list-Contacts:focus {
  color: #404bbf;
}

.contacts .email-contact,
.contacts .email-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.contacts .email-contact:hover,
.contacts .email-contact:focus {
  color: #404bbf;
}

.contacts .tel-contact,
.contacts .tel-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.title-one {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main-block .button {
}

.index-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.index-button:hover,
.index-button:focus {
  background: #404bbf;
  color: #ffffff;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.menu-nav {
  list-style: none;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.footer-nav .logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #f4f4fd;
}

.logo-web,
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.header-nav .logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}

.logo-studio {
  color: #f4f4fd;
}

.main-block {
  background: #2e2f42;
}

.footer-nav {
  background: #2e2f42;
}

.text-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
}
