.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.link {
  text-decoration: none;
}

:root {
  --brand-color: #2e2f42;
}

/* Header Section */

span {
  color: var(--brand-color);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-header {
}

.header-nav {
  border: #434455;
}
.logo-studio-up {
}
.header-list {
}
.list {
  list-style: none;
}
.header-item {
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-contact {
}
.contact-list {
}
.contact-item {
}
.contact-link,
.contact-link-email {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link-email:hover,
.contact-link-email:focus {
  color: #404bbf;
}
/* Hero Image */

.main {
}
.hero-image,
.footer {
  background: var(--brand-color);
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}

.hero-btn:hover {
  background: #404bbf;
  cursor: pointer;
}

/* Features */
.feature-section {
}
.feature-list {
}
.feature-item {
}
.feature-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.feature-text {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Image Section 1 */

.image-section1 {
}
.section-title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.activity-list {
}
.activity-item {
}
.activity-img {
}

/* Image Section 2 */

.image-section2 {
}
.team-list {
}
.team-item {
}
.team-img {
}

.logo-studio-down {
  color: #f4f4fd;
}

/* Portfolio Button */

.portfolio-button,
.portfolio-button-active {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}

.portfolio-button-active {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
}

.portfolio-button {
}

.portfolio-button-active:hover,
.portfolio-button-active:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/* Row 1 */
/* Row 2 */
/* Row 3 */

.project-title,
.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.project-text,
.team-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CLOUD */

  color: #f4f4fd;
}
